/*
 *
 *    [Table of contents]
 *
 *    [&. Content / #key]
 *    [Let press Ctrl + f and type of paste the key, then press Enter to search the content ]
 *
 *    Summary: Widgets
 *
 *    1. Recruitment List
 *    2. Recruitment Tab
 *    3. Responsive
 *
 *
 */


/*----------  1. Recruitment List  ----------*/

	.slz-recruitment-table {
		margin: 0;
		border: 2px solid #f5f5f5;
	}
	.slz-recruitment-table .recruitment-tr {
		padding: 25px;
		width: 100%;
		display: table;
		position: relative;
	}
	.slz-recruitment-table .recruitment-tr + .recruitment-tr {
		border-top: 1px solid #f2f2f2;
	}
	.slz-recruitment-table .recruitment-td .icons {
		min-width: 25px;
	}
	.slz-recruitment-table .recruitment-td {
		display: table-cell;
		vertical-align: middle;
		min-width: 130px;
		padding: 0 10px;
	}
	.slz-recruitment-table .recruitment-td:first-child {
		padding-left: 0;
	}
	.slz-recruitment-table .recruitment-td:last-child {
		padding-right: 0;
	}
	.slz-recruitment-table .recruitment-td.read-more {
		text-align: right;
		min-width: 100px;
	}
	.slz-recruitment-table .recruitment-td.image {
		width: 70px;
		padding: 0;
		min-width: 0;
	}
	.slz-recruitment-table .recruitment-td.title {
		text-align: left;
		font-size: 16px;
		font-weight: 500;
		font-family: 'Poppins', sans-serif;
		padding-left: 15px;
		padding-right: 0;
		width: 150px;
	}
	.slz-recruitment-table .recruitment-td.date-post {
		width: 150px;
		position: relative;
		padding-left: 30px;
	}
	.slz-recruitment-table .recruitment-td.group > div {
		margin-bottom: 10px;
	}
	.slz-recruitment-table .recruitment-td.group > div:last-child {
		margin-bottom: 0;
	}
	.slz-recruitment-table .recruitment-td.group .salary,
	.slz-recruitment-table .recruitment-td.group .location {
		position: relative;
		padding-left: 30px;
	}
	.slz-recruitment-table .recruitment-td.date-post:before,
	.slz-recruitment-table .recruitment-td.group .salary:before,
	.slz-recruitment-table .recruitment-td.group .location:before {
		position: absolute;
		font-family: 'FontAwesome';
		left: 0;
	}
	.slz-recruitment-table .recruitment-td.date-post:before {
		content: '\f041';
	}
	.slz-recruitment-table .recruitment-td.group .salary:before {
		content: '\f0d6';
	}
	.slz-recruitment-table .recruitment-td.group .location:before {
		content: '\f273';
	}
	.slz-recruitment-table .recruitment-td.type {
		text-align: center;
		width: 120px;
	}
	.slz-recruitment-table .recruitment-td.type .text {
		font-size: 10px;
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
		color: #fff;
		background-color: #f38c5a;
		line-height: 18px;
		padding: 0 20px;
		max-width: 150px;
		margin: 0 0 0 auto;
	}
	.slz-recruitment-table .recruitment-td.read-more .apply-btn {
		font-weight: 700;
		font-size: 14px;
		color: #31c290;
		position: relative;
	}
	.slz-recruitment-table .recruitment-td.read-more .apply-btn:before {
		position: absolute;
		content: '';
		left: 0;
		bottom: -5px;
		width: 0;
		height: 1px;
		background-color: #31c290;
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.slz-recruitment-table .recruitment-td.read-more .apply-btn:hover:before {
		width: 100%;
	}

/*----------  2. Recruitment Tab  ----------*/

	.sc-recruitment-style-tab .slz-recent-post .block-label {
		padding: 0;
	}
	.sc-recruitment-style-tab .slz-recent-post .block-title {
		font-size: 24px;
		font-weight: 700;
		color: #333;
		margin-bottom: 10px;
	}
	.sc-recruitment-style-tab .slz-recent-post .block-title:hover,
	.sc-recruitment-style-tab .slz-recent-post .block-title:focus {
		color: #31c290;
	}
	.sc-recruitment-style-tab .slz-recent-post .block-info li {
		display: block;
		font-size: 15px;
		line-height: 24px;
		font-family: 'Noto Sans', sans-serif;
		margin: 0;
	}
	.sc-recruitment-style-tab .slz-recent-post .block-info li:after {
		content: none;
	}
	.sc-recruitment-style-tab .slz-recent-post .block-info li i {
		min-width: 20px;
	}
	.sc-recruitment-style-tab .slz-recent-post .block-info + .description {
		margin-top: 15px;
	}
	.sc-recruitment-style-tab .slz-recent-post .description {
		font-size: 14px;
	}

/*----------  3. Responsive  ----------*/

	@media screen and (max-width: 768px) {
		.slz-recruitment-table {
			position: relative;
		}
		.slz-recruitment-table:before {
			position: absolute;
			content: '';
			width: 1px;
			height: 100%;
			background-color: #f2f2f2;
			top: 0;
			left: 50%;
		}
		.slz-recruitment-table .recruitment-tr {
			display: inline-block;
			width: 50%;
			vertical-align: top;
			border-top: 1px solid #f2f2f2;
		}
		.slz-recruitment-table .recruitment-tr:nth-child(-n + 2) {
			border-top: none;
		}
		.slz-recruitment-table .recruitment-td {
			display: block;
			margin-bottom: 10px;
			width: 100%;
			padding: 0;
		}
		.slz-recruitment-table .recruitment-td.image {
			margin: 0 auto 15px;
		}
		.slz-recruitment-table .recruitment-td.title {
			padding-left: 0;
			margin-bottom: 25px;
			width: auto;
			text-align: center;
		}
		.slz-recruitment-table .recruitment-td.type {
			margin-left: auto;
			margin-right: auto;
			padding-top: 5px;
		}
		.slz-recruitment-table .recruitment-td.date-post {
			width: 100%;
		}
		.slz-recruitment-table .recruitment-td.read-more {
			padding: 0;
			text-align: center;
			margin-top: 20px;
		}
		.slz-recruitment-table .recruitment-td.read-more .apply-btn {

		}
		.slz-recruitment-table .recruitment-td:last-child {
			margin-bottom: 0;
		}
		
		.sc-recruitment-style-tab .slz-template-01 {
			margin-bottom: 0;
		}
		.sc-recruitment-style-tab .slz-recent-post .media-right {
			padding-top: 30px;
		}
	}
	@media screen and (max-width: 480px) {
		.slz-recruitment-table:before {
			content: none;
		}
		.slz-recruitment-table .recruitment-tr {
			width: 100%;
		}
		.slz-recruitment-table .recruitment-tr:nth-child(-n + 2) {
			border-top: 1px solid #f2f2f2;
		}
		.slz-recruitment-table .recruitment-tr:fisrt-child {
			border-top: none;
		}
	}
	@media screen and (max-width: 414px) {
		.slz-recruitment-table .recruitment-tr {
			padding: 25px 10px;
		}
	}
